/* Cores */

$preto: rgb(0, 0, 0)
$branco: rgb(255, 255, 255)

$laranja: rgb(255, 102, 0)
$laranjaClaro: rgb(255, 153, 52)
$laranjaClaroAlpha: rgba(255, 153, 52, 0.7)
$laranjaClaroBotao: rgb(254, 172, 88)

$cinzaEscuro: rgb(50, 50, 50)
$cinzaTexto: rgb(77, 77, 77)
$cinza254: rgb(254, 254, 254)
$cinza205: rgb(205, 205, 205)
$cinza100alpha: rgba(100, 100, 100, 0.5)
